/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  font: inherit;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

button {
  padding: 0;
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  button:focus {
    outline: none; }

input {
  border: none; }
  input:focus {
    outline: none; }

html, body {
  font-family: 'Microsoft JhengHei', sans-serif; }

.u-primary {
  color: #333333; }

.u-secondary {
  color: #161415; }

.u-warning {
  color: #E5781F; }

.u-light {
  color: #EFEFEF; }

.u-white {
  color: #FFFFFF; }

.u-bg-primary {
  background-color: #333333; }

.u-bg-secondary {
  background-color: #161415; }

.u-bg-warning {
  background-color: #E5781F; }

.u-bg-light {
  background-color: #EFEFEF; }

.u-bg-white {
  background-color: #FFFFFF; }

.u-w-100 {
  width: 100%; }

.u-w-50 {
  width: 50%; }

.u-w-49 {
  width: 49% !important; }

.u-absoulte-0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.u-d-block {
  display: block; }

.u-d-none {
  display: none; }

.u-d-flex {
  display: flex; }

.u-flex-direction-column {
  flex-direction: column; }

.u-justify-center {
  justify-content: center; }

.u-justify-between {
  justify-content: space-between; }

.u-align-center {
  align-items: center; }

.u-align-flex-end {
  align-items: flex-end; }

.u-py-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.u-p-0 {
  padding: 0 !important; }

.u-py-3 {
  padding-top: 30px;
  padding-bottom: 30px; }

.u-px-3 {
  padding-right: 30px;
  padding-left: 30px; }

.u-pt-4 {
  padding-top: 40px; }

.u-mb-sm {
  margin-bottom: 8px; }

.u-mr-sm {
  margin-right: 9px; }

.u-mb-1 {
  margin-bottom: 10px; }

.u-mb-2 {
  margin-bottom: 20px; }

.u-text-center {
  text-align: center; }

.u-font-lg {
  font-size: 36px; }

.u-font-md {
  font-size: 24px; }

.u-font-sm {
  font-size: 20px; }

.u-font-xs {
  font-size: 16px; }

.u-font-bold {
  font-weight: 600; }

.u-font-light {
  font-weight: 300; }

.u-border-light {
  border: 1px solid #EFEFEF; }

@media (min-width: 767px) {
  .u-md-px-1 {
    padding-right: 10px !important;
    padding-left: 10px !important; }
  .u-md-pt-3 {
    padding-top: 30px; }
  .u-md-pr-2 {
    padding-right: 20px !important; }
  .u-md-pb-6 {
    padding-bottom: 60px; }
  .u-md-mx-auto {
    margin-right: auto !important;
    margin-left: auto !important; }
  .u-md-mr-2 {
    margin-right: 20px; }
  .u-md-mb-0 {
    margin-bottom: 0 !important; }
  .u-md-mb-6 {
    margin-bottom: 60px; }
  .u-md-mb-8 {
    margin-bottom: 80px; }
  .u-md-mb-10 {
    margin-bottom: 105px; }
  .u-md-text-center {
    text-align: center; }
  .u-md-d-block {
    display: block; }
  .u-md-d-inline-block {
    display: inline-block; }
  .u-md-d-none {
    display: none; }
  .u-md-d-flex {
    display: flex; }
  .u-md-justify-center {
    justify-content: center; }
  .u-md-justify-between {
    justify-content: space-between; }
  .u-md-align-items-center {
    align-items: center; }
  .u-md-row-reverse {
    flex-direction: row-reverse; } }

.container {
  position: relative;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  max-width: 100%;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  flex: 0 0 100%; }

@media (min-width: 767px) {
  .col-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%; }
  .col-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%; }
  .col-3 {
    max-width: 25%;
    flex: 0 0 25%; }
  .col-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%; }
  .col-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%; }
  .col-6 {
    max-width: 50%;
    flex: 0 0 50%; }
  .col-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%; }
  .col-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%; }
  .col-9 {
    max-width: 75%;
    flex: 0 0 75%; }
  .col-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%; }
  .col-11 {
    max-width: 91.66667%;
    flex: 0 0 91.66667%; }
  .col-12 {
    max-width: 100%;
    flex: 0 0 100%; } }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px; }
  .navbar.opened .navbar-list {
    max-height: 168px; }

.navbar-toggler {
  width: 18px;
  height: 12px; }
  @media (min-width: 767px) {
    .navbar-toggler {
      display: none; } }
  .navbar-toggler__icon {
    width: 100%;
    height: 2px;
    position: relative;
    background-color: #333333; }
    .navbar-toggler__icon:before, .navbar-toggler__icon:after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      display: block;
      background-color: #333333; }
    .navbar-toggler__icon:before {
      bottom: 5px; }
    .navbar-toggler__icon:after {
      top: 5px; }

.navbar-logo__item {
  width: 110px;
  height: 25px;
  display: block;
  background: url(../images/logo-m.svg) no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; }
  @media (min-width: 767px) {
    .navbar-logo__item {
      width: 214px;
      height: 40px;
      background-image: url(../images/logo.svg); } }

.navbar-list {
  max-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 86px;
  right: 0;
  left: 0;
  z-index: 30;
  background-color: #FFFFFF;
  overflow: hidden;
  transition: max-height 1s; }
  @media (min-width: 767px) {
    .navbar-list {
      max-height: auto;
      display: flex;
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      flex-direction: row;
      margin-left: auto;
      overflow: initial; } }
  .navbar-list__item {
    width: 100%;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center; }
    .navbar-list__item:before, .navbar-list__item:after {
      content: '';
      width: 0;
      height: 2px;
      display: block;
      position: absolute;
      right: 50%;
      left: 50%;
      background-color: #EFEFEF;
      opacity: 0;
      transition: all .5s; }
    .navbar-list__item:hover:before, .navbar-list__item:hover:after, .navbar-list__item:active:before, .navbar-list__item:active:after, .navbar-list__item--active:before, .navbar-list__item--active:after {
      width: 100%;
      right: 0;
      left: 0;
      opacity: 1; }
  .navbar-list__link {
    display: block;
    padding: 20px;
    font-weight: 600;
    color: #333333; }
    @media (min-width: 767px) {
      .navbar-list__link {
        padding-top: 10px;
        padding-bottom: 10px; } }

@media (min-width: 767px) {
  .cart-link {
    margin-left: 20px; } }

.cart-link:hover {
  color: #E5781F; }

.footer {
  padding: 38px 20px 30px 20px; }

.footer-logo {
  width: 171px;
  margin-bottom: 40px; }
  @media (min-width: 767px) {
    .footer-logo {
      margin-bottom: 115px; } }

.contact-list {
  margin-bottom: 37px; }
  .contact-list__text {
    line-height: 24px; }

.social-list {
  display: flex;
  margin-bottom: 23px; }
  @media (min-width: 767px) {
    .social-list {
      display: inline-flex;
      margin-bottom: 0; } }
  .social-list__item {
    margin-right: 8px; }
  .social-list__link {
    width: 32px;
    display: block; }

.footer-img {
  display: none; }
  @media (min-width: 767px) {
    .footer-img {
      width: 59px;
      display: block; } }

.footer-text {
  font-family: 'Times'; }

.card-list {
  padding: 0 20px 30px 20px; }
  @media (min-width: 767px) {
    .card-list {
      display: flex;
      margin-bottom: 30px; } }
  .card-list__item {
    position: relative;
    margin-bottom: 30px; }
    .card-list__item:last-child {
      margin-bottom: 0; }
  .card-list__label {
    position: absolute;
    top: 0; }
    .card-list__label--text {
      left: 21px;
      padding: 10px;
      font-weight: 600;
      letter-spacing: 5px;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
      color: #EFEFEF;
      background-color: #333333; }
    .card-list__label--btn {
      top: 19px;
      right: 24px; }
  .card-list__img {
    padding-bottom: 100%;
    background-position: center center;
    background-size: cover;
    border: 1px solid #EFEFEF; }
  .card-list__body {
    display: flex; }
  .card-list__title {
    width: 58.09524%;
    padding: 14px 0;
    font-size: 20px;
    text-align: center;
    border-right: 1px solid #EFEFEF;
    border-left: 1px solid #EFEFEF; }
  .card-list__price {
    width: 42.22222%;
    padding: 14px 0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-right: 1px solid #EFEFEF; }
  .card-list__btn {
    width: 100%;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 600;
    background-color: #EFEFEF; }
    .card-list__btn:hover {
      background-color: #e2e2e2; }

.list-group {
  margin-bottom: 30px; }
  .list-group__title, .list-group__link {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    text-align: center; }
  .list-group__item {
    border: 1px solid #EFEFEF; }
  .list-group__link:hover {
    background-color: #EFEFEF; }

.pagination {
  width: 300px;
  margin: 0 auto; }
  @media (min-width: 767px) {
    .pagination {
      margin: 0 0 0 auto; } }

.page-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px; }
  .page-list__item {
    height: 60px;
    flex: 1 0 0;
    text-align: center;
    border: 1px solid #EFEFEF; }
  .page-list__link {
    height: 100%;
    display: block;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 20px;
    font-weight: 300;
    color: #333333; }
    .page-list__link:hover, .page-list__link--active {
      color: #EFEFEF;
      background-color: #333333; }

.form-group {
  margin-bottom: 16px; }
  .form-group:last-child {
    margin-bottom: 0;
    margin-right: 0; }

.form-label {
  margin-bottom: 8px; }

.form-input {
  width: 100%;
  padding: 16px 20px; }
  .form-input::-moz-placeholder {
    color: rgba(22, 20, 21, 0.5); }
  .form-input:-ms-input-placeholder {
    color: rgba(22, 20, 21, 0.5); }
  .form-input::placeholder {
    color: rgba(22, 20, 21, 0.5); }

.form-select {
  padding: 16px 20px;
  border: none; }
  .form-select:last-child {
    margin-right: 0; }

.btn {
  max-width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  text-align: center; }
  .btn--sm {
    padding-right: 102px;
    padding-left: 102px; }
  .btn--lg {
    width: 100%; }
    @media (min-width: 767px) {
      .btn--lg {
        margin-left: auto; } }
  .btn--warning {
    color: #FFFFFF;
    background-color: #E5781F; }
    .btn--warning:hover {
      background-color: #d26c18; }

.banner {
  height: 277px;
  position: relative;
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat; }
  .banner__img {
    width: 15.73333%;
    position: absolute;
    top: 30px;
    right: 30px; }
    @media (min-width: 767px) {
      .banner__img {
        width: 8.69141%;
        top: 40px;
        right: 40px; } }
  @media (min-width: 767px) {
    .banner {
      height: 496px; } }

.spotlight-list {
  display: flex;
  justify-content: center; }
  @media (min-width: 767px) {
    .spotlight-list {
      margin-top: -90px;
      margin-bottom: 90px; } }
  .spotlight-list__item {
    max-width: 259px;
    width: 33.33333%;
    position: relative;
    background-color: #FFFFFF;
    border-right: 1px solid #FFFFFF; }
    .spotlight-list__item:last-child {
      border-right: none; }
    .spotlight-list__item:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(51, 51, 51, 0.8); }
    .spotlight-list__item:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background: url(https://images.unsplash.com/photo-1507979791009-a8b32dc34288?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) center bottom no-repeat;
      background-size: cover;
      filter: blur(5px);
      opacity: .1; }
    .spotlight-list__item:hover:before, .spotlight-list__item--active:before {
      background-color: #E5781F; }
    .spotlight-list__item:hover .spotlight-list__title, .spotlight-list__item--active .spotlight-list__title {
      font-weight: 600; }
  .spotlight-list__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    padding-top: 40px;
    padding-bottom: 40px; }
    @media (min-width: 767px) {
      .spotlight-list__link {
        padding-top: 64px;
        padding-bottom: 64px; } }
  .spotlight-list__title {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
    letter-spacing: 8px; }

.copywriting {
  position: relative; }
  .copywriting__title-sm .copywriting__title-img {
    width: 52.26667%; }
    .copywriting__title-sm .copywriting__title-img--lg {
      width: 71.74603%; }
  @media (min-width: 767px) {
    .copywriting__title-lg--top {
      margin-left: 3.90625%;
      align-self: flex-start;
      transform: translateY(-52px); } }
  .copywriting__title-lg .copywriting__title-img {
    width: 89px; }
  .copywriting__img {
    width: 100%;
    height: 250px;
    background-position: center center;
    background-size: cover; }
    @media (min-width: 767px) {
      .copywriting__img {
        width: 44.92188%;
        max-width: 460px;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 10;
        padding-bottom: 44.92188%;
        transform: translateY(-50%); } }
    @media (min-width: 767px) {
      .copywriting__img--right {
        left: auto;
        right: 0; } }
  .copywriting__text {
    margin-bottom: 35px;
    line-height: 32px; }
    @media (min-width: 767px) {
      .copywriting__text {
        max-height: 279px;
        margin-bottom: 0;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl; } }
    .copywriting__text:last-child {
      margin-bottom: 0; }
      @media (min-width: 767px) {
        .copywriting__text:last-child {
          margin-right: 2.92969%; } }
    .copywriting__text-container {
      padding: 30px; }
      @media (min-width: 767px) {
        .copywriting__text-container {
          max-height: 420px;
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-start;
          align-items: center; } }
      @media (min-width: 767px) {
        .copywriting__text-container--reverse {
          justify-content: flex-end; } }

.subscription-title {
  margin-bottom: 30px; }
  @media (min-width: 767px) {
    .subscription-title {
      margin-bottom: 0; } }
  .subscription-title__logo {
    width: 40px;
    height: 40px;
    margin-right: 12px; }

.subscription-mailbox {
  position: relative;
  margin-right: 30px;
  margin-left: 30px; }
  @media (min-width: 767px) {
    .subscription-mailbox {
      width: 380px; } }
  .subscription-mailbox__icon {
    position: absolute;
    top: 16px;
    left: 20px; }
  .subscription-mailbox__input {
    width: 100%;
    padding: 19px 70px 19px 50px;
    font-size: 16px;
    background-color: #EFEFEF; }
  .subscription-mailbox__btn {
    width: 64px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; }

@media (min-width: 767px) {
  .content {
    display: flex; } }

.form-title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 36px;
  font-weight: 600;
  text-align: center; }

.form {
  position: relative;
  padding-top: 30px; }
  .form__row {
    position: relative;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 16px; }
  .form .icon {
    position: absolute;
    top: 14px;
    left: 50px; }
  .form__input {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-left: 70px;
    font-size: 16px; }
    .form__input::-moz-placeholder {
      color: rgba(22, 20, 21, 0.5); }
    .form__input:-ms-input-placeholder {
      color: rgba(22, 20, 21, 0.5); }
    .form__input::placeholder {
      color: rgba(22, 20, 21, 0.5); }
  .form__btn {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 600; }
    .form__btn:hover {
      background-color: #d26c18; }

.third-list {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 30px; }
  @media (min-width: 767px) {
    .third-list {
      flex-direction: column; } }
  .third-list__item {
    margin-right: 1px; }
    .third-list__item:last-child {
      margin-right: 0; }
    @media (min-width: 767px) {
      .third-list__item {
        margin-bottom: 16px; }
        .third-list__item:last-child {
          margin-bottom: 0; } }
  .third-list__btn {
    width: 100%;
    height: 100%;
    padding: 14px 16px; }
  .third-list__img {
    width: 73px; }
    @media (min-width: 767px) {
      .third-list__img {
        width: 94px; } }

.cart-title {
  padding-top: 16px;
  padding-bottom: 16px; }

.cart-list {
  padding: 30px 30px 0 30px; }
  @media (min-width: 767px) {
    .cart-list {
      padding: 0; } }
  .cart-list__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px; }
    @media (min-width: 767px) {
      .cart-list__item {
        align-items: center;
        padding: 20px 0;
        margin-bottom: 0;
        border-bottom: 1px solid #EFEFEF; }
        .cart-list__item:last-child {
          border-bottom: none; } }
  .cart-list__img {
    width: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media (min-width: 767px) {
      .cart-list__img {
        width: 18%;
        padding-bottom: 18%; } }
  .cart-list__body {
    width: calc(50% - 16px); }
    @media (min-width: 767px) {
      .cart-list__body {
        display: flex;
        justify-content: space-between; } }
  .cart-list__title {
    margin-bottom: 13px; }
  .cart-list__action {
    display: flex;
    text-align: center;
    margin-top: 13px; }
    .cart-list__action > span, .cart-list__action .cart-list__btn {
      width: 48px;
      padding-top: 13px;
      padding-bottom: 13px; }
  .cart-list__footer {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    text-align: right;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF; }
    @media (min-width: 767px) {
      .cart-list__footer {
        width: 145px;
        display: flex;
        justify-content: space-between;
        align-items: none;
        padding: 0;
        margin: 0;
        border: none; } }
  .cart-list__btn:hover {
    color: #E5781F; }

@media (min-width: 767px) {
  .cart-msg-box {
    background-color: #333333; } }

.cart-msg-box--light {
  background-color: #FFFFFF;
  border: 1px solid #EFEFEF; }
  .cart-msg-box--light .cart-msg-title {
    color: #161415;
    background-color: #EFEFEF;
    border: none; }
  .cart-msg-box--light .cart-msg-list {
    padding-right: 20px;
    padding-left: 20px; }
  .cart-msg-box--light .cart-msg-list__item {
    color: #161415; }

.cart-msg-title {
  color: #333333;
  background-color: #EFEFEF; }
  @media (min-width: 767px) {
    .cart-msg-title {
      color: #EFEFEF;
      background-color: inherit;
      border-bottom: 1px solid #EFEFEF; } }

.cart-msg-list {
  padding-top: 16px;
  padding-bottom: 16px; }
  @media (min-width: 767px) {
    .cart-msg-list {
      padding-right: 0;
      padding-left: 0; } }
  .cart-msg-list__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #333333; }
    .cart-msg-list__item:last-child {
      margin-top: 26px;
      margin-bottom: 0; }
    @media (min-width: 767px) {
      .cart-msg-list__item {
        color: #EFEFEF; } }
  .cart-msg-list__img {
    width: 50%;
    padding-bottom: 28%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; }

.checkout-container {
  height: 518px;
  background: url(https://images.unsplash.com/photo-1514228742587-6b1558fcca3d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80) center center no-repeat;
  background-size: cover; }

.checkout-success {
  width: 189px;
  margin-top: 32px;
  margin-bottom: 51px; }

.checkout-box {
  padding: 40px 30px; }
  .checkout-box__body {
    margin-top: 30px; }

.checkout-step {
  width: 152px;
  position: relative; }
  .checkout-step--dark .checkout-step__item {
    background-color: transparent;
    border: none; }
    .checkout-step--dark .checkout-step__item .material-icons {
      font-size: 20px; }
    .checkout-step--dark .checkout-step__item:before {
      display: none; }
    .checkout-step--dark .checkout-step__item:not(:last-child):after {
      top: 9px;
      background-color: #333333; }
  .checkout-step__item {
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 8;
    background-color: #333333;
    border: 1px solid #161415;
    border-radius: 50%; }
    .checkout-step__item .material-icons {
      position: relative;
      font-size: 14px;
      color: #333333;
      z-index: 10; }
    .checkout-step__item:not(:last-child):after {
      content: '';
      width: 55px;
      height: 1px;
      display: block;
      position: absolute;
      top: 7px;
      left: 15px;
      z-index: 7;
      background-color: #161415; }
    .checkout-step__item:before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 1px;
      left: 1px;
      z-index: 9;
      background-color: #161415;
      border-radius: 50%; }
    .checkout-step__item--done {
      background-color: #EFEFEF;
      border-color: #EFEFEF; }
      .checkout-step__item--done:before {
        background-color: #EFEFEF; }
      .checkout-step__item--done:not(:last-child):after {
        background-color: #EFEFEF; }
    .checkout-step__item--active {
      border-color: #EFEFEF; }
      .checkout-step__item--active:before {
        background-color: #EFEFEF; }

.checkout-menu {
  margin-top: 30px; }
  .checkout-menu__item {
    flex: 1 0 auto; }
  .checkout-menu__link {
    padding-top: 17px;
    padding-bottom: 17px;
    color: #EFEFEF;
    border: 1px solid #EFEFEF; }
    .checkout-menu__link:hover, .checkout-menu__link--active {
      color: #333333;
      background-color: #EFEFEF; }
