extends _layout

block navbar
  include partials/_navbar

block content
  .container.no-gutters.u-md-pt-3.u-md-pb-6.u-md-mx-auto
    .row.u-justify-center
      .col-10.u-d-flex.u-justify-center
        .col-7.u-md-pr-2
          .checkout-box.u-light.u-bg-primary
            .chekout-box__header.u-d-flex.u-justify-between.u-align-center
              h2.u-font-lg.u-font-bold.u-light 付款
              ul.checkout-step.u-d-flex.u-justify-between.u-align-center
                li.checkout-step__item.checkout-step__item--done
                  span.material-icons check
                li.checkout-step__item.checkout-step__item--active
                li.checkout-step__item
            .checkout-box__body
              .form-group.u-w-100
                label.form-label.u-d-block.u-font-sm.u-font-bold(for="") 信用卡卡號
                input.form-input.u-font-xs.u-primary.u-bg-light(type="text" placeholder="9012-3456-7890-1234")
              .form-group
                label.form-label.u-d-block.u-font-sm.u-font-bold(for="") 持卡人姓名
                .u-d-flex.u-justify-between
                  input.form-input.u-w-49.u-font-xs.u-primary.u-bg-light(type="text" placeholder="鬼舞辻")
                  input.form-input.u-w-49.u-font-xs.u-primary.u-bg-light(type="text" placeholder="無慘")
              .form-group
                label.form-label.u-d-block.u-font-sm.u-font-bold(for="") 有效期限
                .u-d-flex.u-justify-between
                  select(name="").form-select.u-w-49.u-d-block.u-primary.u-bg-light
                    option(value="月") 月
                  select(name="").form-select.u-w-49.u-d-block.u-primary.u-bg-light
                    option(value="年") 年
              .form-group.u-w-49
                label.form-label.u-d-block.u-font-sm.u-font-bold(for="") 背面末三碼
                input.form-input.u-font-xs.u-primary.u-bg-light(type="text" placeholder="123")
          a.u-d-block.btn.btn--lg.btn--warning(href="checkout-3-1.html") 下一步
        .col-5.u-d-none.u-md-d-block
          .cart-msg-box.cart-msg-box--light.u-mb-2
            h2.cart-title.cart-msg-title.u-font-md.u-font-bold.u-text-center 訂單摘要
            ul.cart-msg-list
              li.cart-msg-list__item.u-font-light
                span 小計
                span NT$ 360
              li.cart-msg-list__item.u-font-light
                span 運費
                span NT$ 120
              li.cart-msg-list__item.u-font-sm.u-font-bold
                span 總計
                span NT$ 480
          .cart-msg-box.cart-msg-box--light
            h2.cart-title.cart-msg-title.u-font-md.u-font-bold.u-text-center 購物清單
            ul.cart-msg-list
              li.cart-msg-list__item.u-align-center
                .cart-msg-list__img(style="background-image: url(images/tea-1.png);")
                .cart-msg-list__body.u-d-flex.u-flex-direction-column
                  span.u-font-light.u-mb-1 熱成紅茶
                  span.u-font-sm.u-font-bold NT$ 120
              li.cart-msg-list__item.u-align-center
                .cart-msg-list__img(style="background-image: url(images/tea-2.png);")
                .cart-msg-list__body.u-d-flex.u-flex-direction-column
                  span.u-font-light.u-mb-1 鹿春紅茶
                  span.u-font-sm.u-font-bold NT$ 120
              li.cart-msg-list__item.u-align-center
                .cart-msg-list__img(style="background-image: url(images/tea-3.png);")
                .cart-msg-list__body.u-d-flex.u-flex-direction-column
                  span.u-font-light.u-mb-1 太后紅茶
                  span.u-font-sm.u-font-bold NT$ 120