@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin text-indent {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@mixin absolute-0() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin md-media {
  @media (min-width: 767px) {
    @content;
  }
}