footer.footer.u-primary.u-bg-light
  .container
    .row
      .col-6
        img.footer-logo(src="images/logo-footer.svg", alt="")
        ul.contact-list
          li.contact-list__item
            p.contact-list__text 02-1234-5678
          li.contact-list__item
            p.contact-list__text teaholic@email.com
          li.contact-list__item
            p.contact-list__text 888 台北市春日部雞飛狗跳庄 520 號
        ul.social-list
          li.social-list__item
            a.social-list__link(href="#")
              img.social-list__img(src="images/social-l.svg", alt="LINE")
          li.social-list__item
            a.social-list__link(href="#")
              img.social-list__img(src="images/social-f.svg", alt="Facebook")
      .col-6.u-d-flex.u-flex-direction-column.u-justify-between.u-align-flex-end
        img.footer-img(src="images/footer.svg", alt="今天是個喝紅茶的好日子")
        small.footer-text © 2020 Tea'aholic All Rights Reserved