meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title Tea'aholic
link(rel="icon" type="image/png" sizes="32x32" href="images/favicon.png")
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Icons")
link(rel="stylesheet", href="css/main.css")